.breadcrumbs
    .container
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href="#").breadcrumbs__link Pagrindinis
            li.breadcrumbs__item
                a(href="#").breadcrumbs__link Apie mus