.sidebar
    .section-title Sidebaras
    ul.acco
        li.acco__item
            a(href="#").acco__trigger trigeris 1
            ul.acco__content
                li.acco__content-item
                    | Punktas 1
                li.acco__content-item
                    | Punktas 1
                li.acco__content-item
                    | Punktas 1
                li.acco__content-item
                    | Punktas 1
        li.acco__item
            a(href="#").acco__trigger trigeris 1
            ul.acco__content
                li.acco__content-item
                    | Punktas 1
                li.acco__content-item
                    | Punktas 1
                li.acco__content-item
                    | Punktas 1
                li.acco__content-item
                    | Punktas 1
        li.acco__item
            a(href="#").acco__trigger trigeris 1
            ul.acco__content
                li.acco__content-item
                    | Punktas 1
                li.acco__content-item
                    | Punktas 1
                li.acco__content-item
                    | Punktas 1
                li.acco__content-item
                    | Punktas 1